GROQ_API_KEY=your_groq_key_here
DEEPGRAM_API_KEY=your_deepgram_key_here
NEXT_PUBLIC_WS_URL=wss://aura-voice-agent-production-380e.up.railway.app/
PORT=3002

#you can also use gemini api from google ai studio for backup but imo these are better
